{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/app.scss' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mansalva&family=Roboto:wght@600&display=swap" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
{% script 'data' %}
{% endblock scripts %}

{% block content %}
<section class="container"> 
	<h1>How has your <br>climate changed?</h1>
	<h3>Winters are warmer and weather disasters are happening more often. 
		<br>
		<br>But by how much?</h3>   
		{% for p in copy.top_text %}
		<p>{{ p.value }}</p>
		{% endfor %}
</section>

<div id="app"></div>

<section class="container"> 
		{% for p in copy.mid_text1 %}
	<p>{{ p.value }}</p>
		{% endfor %}
</section>

<section class="container"> 
	{% for p in copy.mid_text2 %}
	<p>{{ p.value}}</p>
	{% endfor %}
</section>
{% endblock content %}