// RESET
// Smooths out the rough edges across browsers
// @import './tools/normalize';
// @import './variables/colors';
// @import './variables/fonts';

body {
  background-color: #83b0e1;
  margin: 0;
  padding: 0;
}
.mansalva-regular {
  font-family: 'Mansalva', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-p {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

h1 {
  font-family: 'Mansalva', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  color: #2a9d8f;
  text-align: center;
  margin-bottom: 2rem;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #264653;
  text-align: center;
}

p {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #264653;
}
.container {
  max-width: 630px;
  margin: 0 auto;
  padding: 4rem 3rem;
}

// YOUR CODE
// Starting writing your stuff below here
#scroll {
  position: relative;
  background-color: #f3f3f3;
  // padding: 1rem;
}

.scroll__graphic {
  position: sticky;
  left: 0;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Mansalva', sans-serif;
  font-size: 1.5rem;
  background-color: #83b0e1;
  text-align: center;
}

label {
  display: flex;
  flex-direction: column;
}

select {
  margin-top: 1rem;
  width: auto;
  padding: 0.5rem;
  font-size: 1.25rem;
  color: #2a9d8f;
  font-family: 'Mansalva', sans-serif;
  border: 2px solid #2a9d8f;
  border-radius: 5px;
  text-align: center;
}

button {
  margin-top: 1rem;
  padding: 1rem 1rem;
  font-size: 1.25rem;
  font-family: 'Mansalva', sans-serif;
  background-color: #2a9d8f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chart {
  text-align: center;
  position: relative;
  height: 150vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: #83b0e1;
  transition: background-color 1s ease;
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #264653;
}

.background-wrapper {
  position: relative;
  width: 100%;
  height: 150vh; /* Full viewport height */
  overflow: hidden;
}
.text-wrapper {
}
.spring-solid-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150vh;
  // background-color: #90ffdc;
  background: linear-gradient(
    to bottom,
    #90ffdc 0%,
    #90ffdc 66.67%,
    #ffdb57 100%
  ); /* gradient */
  z-index: 1; /* Place it behind the GIF */
}

.spring-gif-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/Flowers.gif') no-repeat center center fixed;
  background-size: cover;
  z-index: 2; /* Place it above the solid background */
}
.summer-solid-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffdb57; /* Solid background color */
  z-index: 1; /* Place it behind the GIF */
}

.summer-gif-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/Sun.gif') no-repeat center center fixed;
  background-size: cover;
  z-index: 2; /* Place it above the solid background */
}
.fall-solid-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b66d0d; /* Solid background color */
  z-index: 1; /* Place it behind the GIF */
}

.fall-gif-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/Leafs.gif') no-repeat center center fixed;
  background-size: cover;
  z-index: 2; /* Place it above the solid background */
}
.winter-solid-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #83b0e1; /* Solid background color */
  z-index: 1; /* Place it behind the GIF */
}

.winter-gif-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/Snow1.gif') no-repeat center center fixed;
  background-size: cover;
  z-index: 2; /* Place it above the solid background */
}

.scroll__graphic .chart img {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.scroll__text {
  position: relative;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

#scroll1 .scroll__text {
  max-width: 20rem;
}

#scroll2 .scroll__text {
  max-width: 100%;
  width: 100%;
}

#scroll1 .step {
  margin: 110%;
}

#scroll2 .step {
  height: 100px;
  width: 300px;
  margin: 110%;
}

.step {
  color: #e0d5f9;
  background-color: rgba(0, 0, 0, 0.1);
  // width: 1000%;
  box-sizing: border-box;
}

.step p {
  // Vertically too
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50%;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.step.is-active {
  background-color: #4cd2c2;
  color: lightgrey;
}

#map {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
