// RESET
// Smooths out the rough edges across browsers
// @import './tools/normalize';
// @import './variables/colors';
// @import './variables/fonts';

body {
  background-color: #e9c46a;
}
.mansalva-regular {
  font-family: 'Mansalva', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-p {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

h1 {
  font-family: 'Mansalva', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  color: #2a9d8f;
  text-align: center;
  margin-bottom: 2rem;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #264653;
  text-align: center;
}

p {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #264653;
}
.container {
  max-width: 630px;
  margin: 0 auto;
  padding: 4rem 3rem;
}

// YOUR CODE
// Starting writing your stuff below here
#scroll {
  position: relative;
  background-color: #f3f3f3;
  padding: 1rem;
}

.scroll__graphic {
  position: sticky;
  left: 0;
  top: 0;
  margin: 0 3rem;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: #737272;
  z-index: 0;
}

.scroll__graphic .chart {
  text-align: center;
  padding: 1rem;
  position: relative;
  // height: 80vh;
  // width: 90vw;
  // -moz-transform: translate(-50%, -50%);
  // // -webkit-transform: translate(-50%, -50%);
  // transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 900;
  color: #fff;
}

.scroll__text {
  position: relative;
  padding: 0;
  max-width: 20rem;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.step {
  margin: 110%;
  color: #e0d5f9;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

.step p {
  // Vertically too
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.step.is-active {
  background-color: #4cd2c2;
  color: lightgrey;
}

#map {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
