// RESET
// Smooths out the rough edges across browsers
@use './tools/normalize';

// VARIABLES
// Reusable settings
@use './variables/colors';
@use './variables/fonts';

.container {
  max-width: 630px;
  margin: 0 auto;
  padding: 1rem;
}

// YOUR CODE
// Starting writing your stuff below here
#scroll {
  position: relative;
  background-color: #f3f3f3;
  padding: 1rem;
}

.scroll__graphic {
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: #8a8a8a;
  z-index: 0;
}

.scroll__graphic .chart {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}

.scroll__text {
  position: relative;
  padding: 0;
  max-width: 20rem;
  margin: 0 auto;
}

.step {
  margin: 0 auto 2rem auto;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
}

.step p {
  // Vertically too
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
  font-size: 1.25rem;
}

.step.is-active {
  background-color: goldenrod;
  color: #3b3b3b;
}
